<div class="container-fluid"  id="pageContent" style="margin-top: 25px; margin-bottom: 20px; padding-left: 59px;" >

	<ngb-carousel>
		<div class="container-fluid mt-3">
			<h3>UCM</h3>
			<p style="color: black;">La Universidad Católica del Maule, conocida también como UCM, es una universidad con personalidad jurídica de derecho público y una de las seis universidades católicas tradicionales del país,nota 1​ la cual pertenece a la Agrupación de Universidades Regionales de Chile, a la Red Universitaria G9 y al Consejo de Rectores de las Universidades Chilenas. Fue fundada como universidad el 10 de julio de 1991, como consecuencia de un proceso de descentralización de la Pontificia Universidad Católica. Sin embargo, tiene sus orígenes más profundos en la década de 1950, cuando se inaugura como escuela normal, dedicada a la formación de profesores..</p>
		</div>
		<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/images/facultad.jpg" style="width:1100px ;" alt="Angular Carousel 1">
		</div>
		<div class="carousel-caption">
			<h3 style="color:white ; font-weight:30px ; -webkit-text-stroke: 1.5px black; font-size: 47px;">FACULTAD DE CIENCIAS DE LA INGENIERÍA</h3>
			<p style="color: white; font-size: 20px">Unidad Académica dedicada a realizar y promover la docencia, investigación, extensión y prestación de servicios en el ámbito de la ingeniería y de las ciencias que le dan sustento.</p>
		</div>
		</ng-template>
	<!--esto es otra imagen-->
		<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/images/chubi.jpg" style="width:1100px"alt="Angular Carousel 2">
		</div>
		<div class="carousel-caption">
			<h3 style="color:white ; font-weight:30px ; -webkit-text-stroke: 1.5px black; font-size: 47px;">Edificio de Aprendizaje Autónomo</h3>
			<p style="color: white; font-size: 20px">Su objetivo es favorecer el proceso de aprendizaje y desarrollo integral de los estudiantes UCM de primer año. Trabaja con programas de acceso inclusivo a la educación superior y con programas de acompañamiento en el primer ingreso.</p>
		</div>
		</ng-template>

		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
			<img src="assets/images/dgd.jpg" style="width:1100px"alt="Angular Carousel 2">
			</div>
			<div class="carousel-caption">
				<h3 style="color:white ; font-weight:30px ; -webkit-text-stroke: 1.5px black; font-size: 47px;">Dirección General de Docencia</h3>
				<p style="color: white; font-size: 20px;">La Dirección General de Docencia es una unidad dependiente de la Vicerrectoría Académica, cuya función es generar y supervisar las políticas de docencia, proponer los decretos que regulan las carreras, ofrecer mejoras en lo que respecta a estrategias metodológicas evaluativas y didácticas, etc.</p>
			</div>
		</ng-template>

	</ngb-carousel>
</div>               